/* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically#:~:text=For%20vertical%20alignment%2C%20set%20the,any%20other%20inline%20children%20elements */
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
}
